.DS_Store

*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg

doc/phoneme.pdf
data
gitignore
model_na_example
_*
log.txt
sample_data/chatino_train_tiny.zip
pretrained_models
exp_*

doc/yhl/phonemeyhl.pdf

sample_data/ted-dev.orig.spa*

