.DS_Store

*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg

doc/phoneme.pdf

data
gitignore

model_na_example

_uploads
_train
_exp
_transcribe/
_transcribe_exp/
_transcribe_uploads/
_glossing_dict/
_train_glossing/
_uploads_glossing


log.txt

