.DS_Store

*.aux
*.log
*.out
*.synctex.gz
*.bbl
*.blg

doc/phoneme.pdf
data
gitignore
model_na_example
_*
log.txt
sample_data/chatino_train_tiny.zip
pretrained_models
exp_*

doc/yhl/phonemeyhl.pdf

sample_data/ted-dev.orig.spa*
sample_data/ted-dev.mtok.eng*
sample_data/ted-train.mtok.eng*

ttr/spa_eng.eng.model
ttr/spa_eng.eng.vocab

sample_data/ted-train.orig.spa
ttr/spa_eng.spa.model
ttr/spa_eng.spa.vocab

glossing_sample_data

