{% extends 'base.html' %}

{% block content %}

<h1>Upload training data to train a glossing suggestion model</h1>
<p>Please submit a zipped file with two files: phoneme.txt and translation.txt</p>
<form method="post" enctype="multipart/form-data">
  <p><input type="file" name="file">
     <input type="submit" value="Upload">
</form>

<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
</body>

{% endblock %}
